* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: whitesmoke;
}

table,
th,
td {
  border: 1px solid black;
}

header {
  background-color: steelblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  color: white;
  flex-wrap: wrap;
  gap: 10px;
}

header nav ul {
  display: flex;
  gap: 18px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.search-bar {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

header form input {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid black;
}

header form button {
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
}

#Inicio {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 35px 0px;
}

#Inicio h2 {
  margin-left: 16px;
}

#Categorias {
  margin: 35px 0px;
}

#Categorias h2 {
  margin: 16px;
}

#Categorias li {
  margin: 10px;
}

#Produtos {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  padding: 35px 0px;
}

#Produtos h2 {
  display: flex;
  align-self: flex-start;
  margin: 16px;
}

#Produtos table {
  width: 95%;
  height: 95%;
  text-align: center;
  border-collapse: collapse;
  background-color: white;
}

#Produtos th {
  padding: 15px;
  background-color: #008c8c;
}

#Produtos td {
  padding: 35px;
}

#Contato {
  margin: 16px;
}

#Contato h2 {
  margin-bottom: 30px;
}

#Contato form input {
  width: 500px;
  height: 30px;
  border-radius: 8px;
  margin-bottom: 50px;
  border: 1px solid black;
}

#Contato form button {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}

#Contato textarea {
  height: 120px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  resize: none;
}

footer {
  background-color: steelblue;
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
}

footer h3 {
  margin: 0 0 8px 0;
  font-size: 16px;
}

.redes {
  margin-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
  font-weight: bold;
}